body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

#first{
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header h1{
    margin: 0;
}
#second{
    margin-left: 40px;
}
.social {
    text-align: center;
    margin: 5px 0;
}
.social a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
}
.social img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.summary {
    display: flex;
    align-items: center;
    margin: 20px 30px;
    font-size: 24px;
}
.summary img {
    width: 200px; 
    height: auto; 
    margin: 30px;
}
.experience {
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: space-between;
    flex-direction: row;
}
.project1 {
    margin-left: 40px;
    flex: 1
}
.project2 {
    flex: 1
}
#XKCD {
    display: flex;
    margin: 40px;
}
