body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.Title {
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 15px;
}


nav button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

header nav button a {
    color: inherit;
    text-decoration: none;
}

nav button:hover {
    background-color: #ccc;
    color: #000;
    border-radius: 4px;
}

.summary {
    display: flex;
    align-items: center;
    margin: 20px 30px;
    font-size: 24px;
}
.summary img {
    width: 200px;
    height: auto;
    margin: 30px;
}

.experience {
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: space-between;
    flex-direction: row;
}
.project1 {
    margin-left: 40px;
    flex: 1
}
.project2 {
    margin-left: 40px;
    flex: 1
}

.XKCDimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.flex-item {
    text-align: center;
}

#XKCDimg {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background-color: #333;
    color: #fff;
}
footer a {
    margin: 0 10px;
}

footer a img {
    vertical-align: middle;
}